{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Routine: {{ routine.name }}{% endblock %}

{% block extra_head %}
    <script src="{% static 'workout/js/routine-detail.js' %}" type="text/javascript"></script>
	<link href="{% static 'workout/css/routine-detail.css' %}" rel="stylesheet" type="text/css" media="all">
{% endblock %}


{% block main_content %}
    <div class="exercise-wrapper">
        <table id="routine-exercise-table">
            <tbody id="routine-exercise-tbody">
            {% if routine.exercises.all|length == 0 %}
                {% for exercise in routine.exercises.all %}
                    <tr class="routine-exercise-row">
                        <td>
                            {{ exercise.name }}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}