<tr data-routine-id="{{ routine.id }}" class="routine-row">
    <td>
        <div class="routine-info">
            <h2 class="routine-name">{{ routine.name }}</h2>
            <span class="routine-day">{{ routine.get_day_display }}</span>
        </div>
        <div class="routine-settings">
            <div>
                <a data-routine-id="{{ routine.id }}" class="routine-settings-btn edit-routine-btn" href="#" aria-hidden="true"></a>
            </div>
            <div>
                <a data-routine-id="{{ routine.id }}" class="routine-settings-btn delete-routine-btn" href="#" aria-hidden="true"></a>
            </div>
        </div>
    </td>
</tr>